:host {
  display: block;
}

mat-option {
  text-transform: uppercase;
}

::ng-deep #lang .mat-form-field-wrapper {
  width: 50px !important;
}

::ng-deep #lang .mat-form-field-flex {
  padding-left: 15px !important;
  text-transform: uppercase !important;
}

::ng-deep .mat-select-panel {
  transform: translateX(-30px) !important;
}

::ng-deep #lang .mat-form-field-infix {
  padding: 2px 0 7px !important;
}


::ng-deep #lang .mat-select-arrow-wrapper {
  display: none !important;
}