:host {
  margin: 20px auto;
}

.top {
  display: flex;
  margin-top: 25px;
}

.info {
  margin-left: 30px;
}

app-cast {
  margin-top: 30px;
}

app-images {
  margin-top: 30px;
}

app-recommendations {
  margin: 55px 0 35px;
}
