:host {
  display: block;
  padding-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-between;
  grid-gap: 20px;
}

h3 {
  font-size: 30px;
  color:  var(--color-light);
  text-transform: uppercase;
  margin-bottom: 40px;
}