:host {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
}

h3 {
  font-size: 20px;
}

.btn {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 12px;
  border: 1px solid  var(--color-light);

  &.active {
    background-color:  var(--color-light);
    color: black;
  }
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, auto);
  justify-content: space-between;
  grid-gap: 10px;
}