<h2>
  <span>{{ 'MOVIE.TITLE' | translate }}:</span>
  {{ title }}
</h2>
<p>
  <span>{{ 'MOVIE.OVERVIEW' | translate }}:</span>
  {{ overview }}
</p>
<p>
  <span>{{ 'MOVIE.RELEASE' | translate }}:</span>
  {{ releaseDate }}
</p>
<p>
  <span>{{ 'MOVIE.BUDGET' | translate }}:</span>
  {{ budget }}
</p>
<p>
  <span>{{ 'MOVIE.REVENUE' | translate }}:</span>
  {{ revenue }}
</p>
<p>
  <span>{{ 'MOVIE.DURATION' | translate }}:</span>
  {{ duration }}
</p>
<app-genres-list [genres]="genres"></app-genres-list>
