.sorting {
  display: flex;
  margin-left: auto;
}

.grid {
  display: grid;
  margin: 25px auto;
  grid-template-columns: repeat(5, auto);
  justify-content: space-between;
  grid-gap: 20px;
}

app-sorting {
  margin-left: auto;
  margin-top: 15px;
}
