:host {
  display: block;
}

span {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3em;
}

p {
  margin-bottom: 30px;
  font-size: 15px;
}

h2 {
  font-size: 32px;
  font-weight: 400;
}