<div>
  <div class="sorting">
    <app-sorting
      (sortingInputEvent)="moviesService.sorting$.next($event)"
      [initSorting]="moviesService.sorting$.value"></app-sorting>
  </div>
  <app-movie-grid [data]="movies" *ngIf="movies.length; else spinner"></app-movie-grid>
  <app-paginator
    *ngIf="totalPages > 1"
    [totalPages]="totalPages"
    [class.hidden]="!movies.length"
    (pageSelectEvent)="updatePage($event)"></app-paginator>
</div>
<ng-template #spinner>
  <div class="spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
