<mat-button-toggle-group
  class="movie-sorting"
  name="sorting"
  aria-label="sorting"
  [formControl]="sortInput"
  (change)="sortingInputEvent.emit($event.value)">
  <mat-button-toggle value="popular" class="btn">{{
    'HOME.POPULAR' | translate
  }}</mat-button-toggle>
  <mat-button-toggle value="topRated" class="btn">{{ 'HOME.TOP' | translate }}</mat-button-toggle>
  <mat-button-toggle value="upcoming" class="btn">{{
    'HOME.UPCOMING' | translate
  }}</mat-button-toggle>
</mat-button-toggle-group>
