@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --color-light: #fff;
  --color-accent: #3bb33b;
  --color-bcg: #141414;
  --color-header-bcg: #1d1a1a;
  --color-image-bcg: #1f1d1d;
  --color-movie-hover: rgba(25, 24, 23, 0.5);
  --color-text: #aaa;
}

body {
  min-height: 100vh;
  min-width: 1200px;
  box-sizing: border-box;
  background-color: var(--color-bcg);
  color:  var(--color-light);
  font-size: 16px;
  font-family: 'Noto Sans Display', sans-serif;
  overscroll-behavior: none;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}


