:host {
  display: block;
  width: 115px;
  height: 240px;
  line-height: 1.15;
}

a {
  display: block;
  color: var(--color-text);

  &:hover {
    h4 {
      color: var(--color-light);
    }
  }
}

app-image {
  width: 115px;
  height: 160px;
  margin-bottom: 10px;
}

h4 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

p {
  font-size: 11px;
}